@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Bungee);
@import url(https://fonts.googleapis.com/css?family=Sigmar+One)

.header {
   
    height: 200px;
  }
  
  .header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: rgb(221, 211, 211);
    font-size: 3rem;
    font-family: 'Sigmar One';
    -webkit-box-shadow: 0 -14px 28px rgba(241, 6, 171, 0.938), 0 10px 10px rgba(19, 233, 12, 0.973);
    box-shadow: 0 -25px 28px black, 0 10px 10px rgba(209, 11, 11, 0.856);
   
    
    
}
